= render "head"

- if @path.present?
  %ul.breadcrumb
    = breadcrumbs

%div{id: dom_id(@project)}
  #commits_list= render "commits"
.clear
.loading{ style: "display:none;"}

- if @commits.count == @limit
  - content_for :script_on_load do
    :plain
      CommitsList.init("#{@ref}", #{@limit});
